

.card-text {
    font-size: 15px;
    margin: 18px 0px;
}


#contactHeader {
    color:skyblue;
font-family: 'dekko';
font-size: 55px;
margin-left: 6%;
text-shadow: 2px 2px #ff0000;
}

.fa:hover {
    opacity: 0.7;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-envelope {
    background: purple;
    color: white;

  }
  .fa-github {
    background: black;
    color: white;

  }


#technicalHeader {
margin-left: 30%;
color:skyblue;
font-family: 'dekko';
font-size: 55px;
padding: 20px;
}

#mePic {
    
    border-radius: 50%;
      overflow: hidden;
        transition-duration: 5s;
        transition-property: transform;
    }
    #mePic:hover {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }




.card {
    align-self: auto;
    padding: 0%;
    margin-top: 10%;
    align-self: auto;
}

#mainBody {
    background-image: url(./assets/o-CODING-facebook.jpg);
}

#sections{
    background-image: url(./assets/o-CODING-facebook.jpg);
}
#contactBody{
    background-color: beige;
    padding: 2%;
}

#aboutMe {
    background-color: beige;
    padding: 2%;
    margin-bottom: 30%;
}



.navbar-light .navbar-brand { color: black;

}

.responsive {
    width:100%;
    max-width: 200px;
    height: auto;
}





.abouttext {

font-family: 'Times New Roman', Times, serif;   
margin-left: 10px;
float: center;
padding-left: 10px; 
}



h1 { 
color:skyblue;
font-family: 'dekko';
font-size: 55px;
margin-left: 6%;

}
h2 { color: skyblue;
 font-family: 'dekko';
 font-size: 55px;
}

p { font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    max-width: 800px;
    margin-top: 10px;
    margin-left: 42%; 
    text-indent: 7%;
}

footer { font-size: small;
margin-left: inherit;
padding-top: 10%;
}


#portBody {
    background-image: url(./assets/o-CODING-facebook.jpg);
}

#portBack {
    padding: .7%;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {


#technicalHeader {
    margin-left: 1%;
    margin-right: 10%;
    color: skyblue;
    font-family: 'dekko';
    font-size: 50px;
    padding: 10px;
    }

    #technicalBio {
        margin-left: 10%;
    }

    #aboutMeText {
        font: 10px;
        padding: 15%;
    }
    h2 {
        font-size: 40px;
    }

    #awardsId {
        padding: 10%;
    }
}



@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 


      

        #technicalHeader {
            margin-left: 1%;
            color:skyblue;
            font-family: 'dekko';
            font-size: 40px;
            padding: 20px;
            }
        
            #technicalBio {
                margin-left: 10%;
            }
        
            #aboutMeText {
                font: 10px;
                padding: 15%;
            }
            h2 {
                font-size: 40px;
            }
        
            #awardsId {
                padding: 10%;
            }
        }
        



    


/* button { margin-left: 30%;} */




/* 

Notes: 

position: relative -- property on parent elemnt that has children behave relative to parent

position: absolute - property on child element thatallows you to position child absolutely from top, bottom, left or right "relative" to parent. 

*/