


.card {
    align-self: auto;
    padding: 0%;
    margin-top: 10%;
    align-self: auto;
}

#mainBody {
    background-image: url(./assets/o-CODING-facebook.jpg);
}

#sections{
    background-image: url(./assets/o-CODING-facebook.jpg);
}
#contactBody{
    background-color: beige;
    padding: 2%;
}

#aboutMe {
    background-color: beige;
    padding: 2%;
    margin-bottom: 30%;
}



.navbar-light .navbar-brand { color: black;

}

.responsive {
    width:100%;
    max-width: 200px;
    height: auto;
}





.abouttext {

font-family: 'Times New Roman', Times, serif;   
margin-left: 10px;
float: center;
padding-left: 10px; 
}



h1 { 
color:skyblue;

}
h2 { color: skyblue;}

p { font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    max-width: 800px;
    margin-top: 10px;
    margin-left: 42%; 
}

footer { font-size: small;
margin-left: inherit;
padding-top: 10%;
}


#portBody {
    background-image: url(./assets/o-CODING-facebook.jpg);
}

#portBack {
    padding: .7%;
}



/* button { margin-left: 30%;} */




/* 

Notes: 

position: relative -- property on parent elemnt that has children behave relative to parent

position: absolute - property on child element thatallows you to position child absolutely from top, bottom, left or right "relative" to parent. 

*/