
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.content{
    width: 950px;
    margin: 0 auto;
}

.link {
    float:right;
}
     
.name {
    float:left;
    text-decoration-style: solid;
    text-align:center;
    color: white;
    background-color: #4aaaa5;
    padding: 1%;
    margin-bottom: 0%;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color:gray;
    background-color: black;
    font-size: 15px;
}
h4 { 
    color:gray;
    background-color:green;
    font-size:15px;
}

h5 { 
    color:gray;
    background-color: black;
    font-size: 15px;
}

img {
    float: left;
}

h1 { color: white;
    background-color: #4aaaa5;
}

h2 { color: #4aaaa5}

@media screen and (max-width: 980px) {
    .content {
      width: 450px;
    }
  }

@media screen and (max-width: 768px) {
    .content {
        width: 300px;
    }
}

@media screen and (max-width: 640px) {
    .content {
        width: 250px;
    }
}
